<footer class="footer">
  <nav class="footer__navigation">
    <a class="footer__navigation-telegram footer__navigation-item footer__item-onmouseover"
      href="https://t.me/sufiyarovegor">telegram</a>
    <a class="footer__navigation-github footer__navigation-item footer__item-onmouseover"
      href="https://github.com/krbyhome">github</a>
  </nav>

  <div class="footer__time" id="page-load-time"></div>
</footer>