<header class="header">
  <nav class="header__navigation">
    <a 
      class="header__navigation-logo header__navigation-item header__item-onmouseover"
      href="/"
    >Егор</a>

    <a class="header__navigation-about header__navigation-item header__item-onmouseover" href="/about">Обо мне</a>
    <a class="header__navigation-projects header__navigation-item header__item-onmouseover" href="/projects">Проекты</a>
    <a class="header__navigation-technologies header__navigation-item header__item-onmouseover" href="/technologies">Стэк</a>
    <a class="header__navigation-hobbies header__navigation-item header__item-onmouseover" href="/hobbies">Хобби</a>
    <a class="header__navigation-schedule header__navigation-item header__item-onmouseover" href="/schedule">Расписание</a>    

    {{> auth this }}
  </nav>
</header>