<header class="header">
  <nav class="header__navigation">
    <a class="header__navigation-logo header__navigation-item header__item-onmouseover" href="/">Егор</a>

    <a class="header__navigation-about header__navigation-item header__item-onmouseover" href="/about">Обо мне</a>
    <a class="header__navigation-projects header__navigation-item header__item-onmouseover" href="/projects">Проекты</a>
    <a class="header__navigation-schedule header__navigation-item header__item-onmouseover"
      href="/notifications">Уведомления</a>
    {{> auth this }}
  </nav>
</header>