.main__about-pic {
    width: 400px;
}
.main__about-pic-shadow {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.main__about {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    margin: 20px 0;
}

@media screen and (max-width: 500px) {
    .main__about-pic {
      display: none;
    }
}

.timeline-container {
    width: 100%;
    max-width: 800px;
    height: 600px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tl-timeline {
    background-color: #fee1f9;
}

.tl-slide-content h2 {
    color: #4CAF50;
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
}

.tl-text-content p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.tl-timemarker-content {
    background-color: #fee1f9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .timeline-container {
        height: 500px; 
    }
}

