.main__section-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.main__section-table-item {
    border: 1px solid #00796b;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.main__section-table-item:nth-child(6n + 5),
.main__section-table-item:nth-child(6n + 6) {
    background-color: rgb(25, 157, 148);
}

.main__section-table-item:nth-child(6n + 8),
.main__section-table-item:nth-child(6n + 9) {
    background-color: rgb(44, 130, 47);
}

.main__section-table-item:nth-child(-n+3),
.main__section-table-item:nth-child(3n + 1) {
    background-color: rgb(177, 194, 192);
}

@media screen and (max-width: 400px) {
    .main__section-table {
        display: none;
    }
}