<section class="main__section">
  <h1 class="main__section-title">Мне нравится</h1>
  <ul class="main__section-hobbies">
    <li class="main__section-hobbies-item"><strong>Скалолазание:</strong> Занятие на открытом воздухе, где я испытываю себя, чтобы достичь новых высот.</li>
    <li class="main__section-hobbies-item"><strong>Кушать:</strong> Люблю исследовать различные кухни и пробовать новые блюда</li>
    <li class="main__section-hobbies-item"><strong>Excel:</strong> Надо как-то оправдать наличие здесь таблицы.</li>
  </ul>

  <div class="main__section-table">
    <div class="main__section-table-item"></div>
    <div class="main__section-table-item">Имя</div>
    <div class="main__section-table-item">Фамилия</div>
    <div class="main__section-table-item">Студент 1</div>
    <div class="main__section-table-item">Егор</div>
    <div class="main__section-table-item">Суфияров</div>
    <div class="main__section-table-item">Студент 2</div>
    <div class="main__section-table-item">Суфияров</div>
    <div class="main__section-table-item">Егор</div>
  </div>
</section>