<div class="main__geninfo">
  <h1 class="main__geninfo-item">Егор Суфияров</h1>
  <h2 class="main__geninfo-item">Разноработчик</h2>
  <h3 class="main__geninfo-item">Укладка джсонов, отделка легаси, косметический ремонт кнопок</h3>
</div>

<div class="main__section-ascii">
  <pre>
    ░▄▀▄▀▀▀▀▄▀▄░░░░░░░░░
    ░█░░░░░░░░▀▄░░░░░░▄░
    █░░▀░░▀░░░░░▀▄▄░░█░█
    █░▄░█▀░▄░░░░░░░▀▀░░█
    █░░▀▀▀▀░░░░░░░░░░░░█
    █░░░░░░░░░░░░░░░░░░█
    █░░░░░░░░░░░░░░░░░░█
    ░█░░▄▄░░▄▄▄▄░░▄▄░░█░
    ░█░▄▀█░▄▀░░█░▄▀█░▄▀░
    ░░▀░░░▀░░░░░▀░░░▀░░░
  </pre>
</div>

<section class="main__section">
  <div class="main__section-item main__section-code">
    <pre><code>def Hello():
  print("Hi there!")</code></pre>
  </div>
</section>

<section class="main__section">
  <div class="main__section-content">
    <p>
      Привет я егор из кемерово
      <b>C++</b>, <b>C#</b>, <b>Python</b>, <b>Postgres</b>, <b>Kafka</b>.
    </p>
  </div>
</section>

<section class="main__section">
  <div class="main__section-quote">
    <q>Панда</q> - <cite>Угувей</cite>
  </div>
</section>